* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
	line-height: 1.6;
	background-color: rgba(0, 0, 0, 0.05);
	color: #1b052b;
}

body {
	margin: 2rem 4rem;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 0.875rem;
}

@media (max-width: 450px) {
	body {
		margin: 2rem 1rem;
	}
}

#poet {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

header,
footer {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1rem;
}

main {
	margin-bottom: 2rem;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}
